:root {
    --puce_pink: #D8839E;
    --gunmetal: #212A30;
    --honolulu_blue: #197BBD;
    --floral_white: #FEF8EC;
}

/* HEADER */
.header-nav {
    background-color: var(--gunmetal);
    color: var(--floral_white);
    padding: 1rem;
    text-align: center;
}

.header-nav h1 {
    margin: 0;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.header-nav a {
    color: var(--floral_white);
    text-decoration: none;
}

.header-nav a:hover {
    color: var(--honolulu_blue);
}

/* FOOTER */
.footer-nav {
    background-color: var(--gunmetal);
    color: var(--floral_white);
    padding: 1rem;
    text-align: center;
}

.footer-nav a {
    color: var(--floral_white);
    text-decoration: none;
}

.footer-nav a:hover {
    color: var(--honolulu_blue);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

